/* smatphones */

@media(max-width:320px) {
    .container-barra__contact p {
        font-size: 1.3rem;
    }
    /* frame menu mobile */
    .frame-menu .li {
        margin-top: 2rem;
    }
    /* mision - vision */
    .mision-vision p {
        font-size: 1.2rem;
    }
}

@media(min-width:350px) and (max-width:360px) {
    .frame-menu .li {
        margin-top: 5rem;
    }
}

@media(max-width:480px) {
    .mision-vision p {
        font-size: 1.8rem;
    }
}


/* smatphones to tablets */

@media(min-width:481px) and (max-width:767px) {}
.nosotros__img{
    width: 30%;
}

/* tablets */

@media(min-width:768px) and (max-width:959px) {
    /* ---- contact bar---*/
    .container-barra__contact p {
        font-size: 2.7rem;
    }
    /* menu ----*/
    .logo img {
        min-height: 9rem;
    }
    .line-1,
    .line-2,
    .line-3 {
        width: 5rem;
        height: 0.5rem;
        background-color: black;
        margin: 0.6rem 1em;
        transition: 0.1s ease;
    }
    .changeline-1 {
        transform: rotate(45deg) translate(2px, -2px);
    }
    .frame-menu a {
        font-size: 7rem;
    }
    .frame-menu li {
        padding: 8rem;
        text-align: center;
    }
    /* banner*/
    .banner__title h1 span {
        font-size: 5rem;
        color: white;
    }
    .banner__title h1 {
        
        border-radius: 8px;
        text-align: center;
        font-size: 6rem;
        margin: auto 2rem;
        margin-bottom: 25rem;
        text-transform: uppercase;
        padding: 1rem;
    }
    /* nosotros*/
    .nosotros__title h2 {
        color: var(--orange-color);
        font-size: 5.5rem;
        text-align: center;
        margin-bottom: 0;
    }
    .nosotros__title p {
        font-size: 2.8rem;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
    }
    .nosotros__historia p {
        font-size: 2.7rem;
        margin: auto 3.6rem;
    }
    .nosotros__historia p span {
        color: black;
        font-size: 2.8rem;
        font-weight: 700;
    }
    .nosotros__img{
        width: 40%;
    }
    button a {
        color: white;
        font-size: 2.8rem;
    }
    /* mision-vision*/
    .mision-vision h3 {
        color: var(--orange-color);
        margin-bottom: 0;
        font-size: 3.8rem;
        text-align: center;
    }
    .mision-vision p {
        margin-top: 1rem;
        font-size: 2.8rem;
        padding: 1.8rem 2rem;
        text-align: justify;
    }
    /* -------- servicios -----------*/
    .servicios h3 {
        color: var(--orange-color);
        font-size: 4.8rem;
        text-align: center;
        margin-bottom: 0;
    }
    .servicios__list {
        margin-right: 10rem;
    }
    .servicios__list ul {
        list-style-type: disc;
        margin: auto 5rem;
    }
    .servicios__list li {
        padding: 1rem;
        font-size: 2.7rem;
    }
    .servicios__promo p {
        text-align: center;
        font-weight: 700;
        margin: 2rem;
        font-size: 3rem;
    }
    .distribuidores p {
        text-align: center;
        color: rgb(226, 226, 226);
        padding: 2rem;
        font-size: 3.2rem;
    }
    .toca {
        font-size: 2.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* -------------- slide ----------*/
    .slideshow {
        width: 95%;
        position: relative;
    }
    /* ------------- CONTACTO ---------------*/
    .contacto h3 {
        font-size: 5rem;
        margin-bottom: 0;
        margin-top: 0.5rem;
        padding-top: 1.5rem;
    }
    .contacto p {
        padding: 2rem;
        font-size: 2.8rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .contacto h4 {
        font-size: 4.5rem;
        margin: 1rem;
    }
    .contacto span {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
}


/* desktop */

@media(min-width:960px) and (max-width:1199px) {
    /* ---- contact bar -----*/
    .container-barra__contact {
        display: none;
    }
    /* ----- menu -----*/
    .barra-menu {
        display: none;
    }
    /* ----- menu -----*/
    .barra-menu {
        display: none;
    }
    .logo{
        text-align: center;
    }
    .logo img {
        min-height: 12rem;
        object-fit: contain;
    }
    .nav {
        display: flex;
        background-color: white;
        justify-content: space-around;
    }
    .nav h3 {
        font-size: 3.5rem;
        margin: 0;
        padding: 2rem;
        vertical-align: top;
    }
    .lista {
        display: flex;
        align-items: center;
    }
    .lista .li-contact {
        color: #fff;
        font-size: 2.2rem;
        text-align: center;
        padding: 0.5rem 3rem;
        background-color: var(--orange-color);
        border-radius: 1rem;
        margin-left: 2rem;
    }
    .lista .li-contact a{
        color: #fff;
        font-size: 1.8rem;
        padding: 1rem 0;
    }
    .lista a {
        padding: 0 2rem;
        font-size: 3rem;
        color: black;
        transition: all 0.3s ease;
    }
    .lista a:hover {
        background-color: rgb(240, 234, 240);
    }
    /* banner*/
    .banner__title h1 span {
        font-size: 3.5rem;
        color: white    ;
    }
    .banner__title h1 {
        
        border-radius: 8px;
        text-align: center;
        font-size: 5rem;
        margin: auto 2rem;
        margin-bottom: 25rem;
        text-align: center;
        text-transform: uppercase;
        padding: 1rem;
    }
    /* nosotros*/
    .nosotros {
        display: flex;
        margin: 1rem;
    }
    
    .nosotros__title h2 {
        color: var(--orange-color);
        font-size: 4.5rem;
        text-align: center;
        margin-bottom: 0;
    }
    .nosotros__title p {
        font-size: 2.3rem;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
    }
    .nosotros__historia p {
        font-size: 2.0rem;
        margin: auto 2rem;
    }
    .nosotros__img{
        width: 70%;
    }
    /* mision-vision*/
    .mision-vision h3 {
        color: var(--orange-color);
        margin-bottom: 0;
        font-size: 4.8rem;
        padding-top: 1rem;
        text-align: center;
    }
    .mision-vision p {
        margin-top: 1rem;
        font-size: 2.6rem;
        text-align: justify;
    }
    button {
        background-color: var(--orange-color);
        cursor: pointer;
        margin: 2rem auto;
        display: block;
        border: none;
        padding: 2.5rem;
        width: 50%;
        border-radius: 2px;
        box-shadow: 5px 7px 7px #999;
        transition: all 0.5s ease;
    }
    button a {
        display: block;
        color: white;
        font-size: 2.8rem;
    }
    /* -------- servicios -----------*/
    .servicios {
        margin: auto 4rem;
    }
    .servicios h3 {
        color: var(--orange-color);
        font-size: 4.8rem;
        text-align: center;
        margin-bottom: 0;
    }
    .servicios__list ul {
        list-style-type: disc;
        margin: auto 5rem;
    }
    .servicios__list li {
        padding: 1rem;
        font-size: 2.9rem;
    }
    .trabajos-img {
        margin: 2rem 16rem 2rem 10rem;
        overflow: hidden;
    }
    .trabajos-img img {
        width: 100%;
        max-height: 35rem;
        object-fit: cover;
        transition: all 0.3s ease;
    }
    .servicios__promo p {
        text-align: center;
        font-weight: 700;
        margin: 2rem;
        font-size: 3rem;
    }
    .distribuidores p {
        text-align: center;
        color: rgb(226, 226, 226);
        padding: 2rem;
        font-size: 3.2rem;
    }
    .toca {
        font-size: 2.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slideshow {
        width: 100%;
        position: relative;
    }
    /* ------------- CONTACTO ---------------*/
    .contacto h3 {
        font-size: 5rem;
        margin-bottom: 0;
        margin-top: 0.5rem;
        padding-top: 1.5rem;
    }
    .contacto p {
        padding: 2rem;
        font-size: 2.8rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .contacto h4 {
        font-size: 4.5rem;
        margin: 1rem;
    }
    .contacto span {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
}


/* large display */

@media(min-width:1200px) {
    /* ---- contact bar -----*/
    .container-barra__contact p {
        display: none;
    }
    .container-barra__contact p {
        font-size: 2.3rem;
        margin: 1rem;
    }
    /* ----- menu -----*/
    .barra-menu {
        display: none;
    }
    /* ----- menu -----*/
    .barra-menu {
        display: none;
    }
    .logo{
        text-align: center;
    }
    .logo img {
        max-height: 12rem;
        object-fit: contain;
    }
    .nav {
        display: flex;
        background-color: white;
        justify-content: space-around;
        
    }
    .lista {
        display: flex;
        align-items: center;
    }
    .lista .li-contact {
        color: #fff;
        font-size: 2.2rem;
        text-align: center;
        padding: 0.5rem 3rem;
        background-color: var(--orange-color);
        border-radius: 1rem;
        margin-left: 2rem;
        box-shadow: 5px 7px 7px #999;
        transition: all 0.5s ease;
    }

    .lista .li-contact:hover{
        background-color: rgb(31, 103, 170);
        box-shadow: 5px 12px 7px #999;
    }
    
    .lista .li-contact a{
        color: #fff;
        font-size: 1.8rem;
        padding: 1rem 0;
    }
    .lista a {
        padding: 4rem 2rem;
        font-size: 3.5rem;
        color: black;
        transition: all 0.3s ease;
    }
    .lista a:hover {
        text-decoration: underline;
    }
    /* banner*/
    .banner {
        height: 80vh;
    }
    .banner__title h1 span {
        font-size: 4rem;
        color: white;
    }
    .banner__title h1 {
        
        border-radius: 8px;
        font-size: 6rem;
        margin: auto 2rem;
        margin-bottom: 25rem;
        text-align: center;
        text-transform: uppercase;
        padding: 1rem;
    }
    /* nosotros*/
    .nosotros {
        display: flex;
        margin: 5rem 8rem;
    }
    .nosotros__historia p{
        font-size: 2.2rem;
    }
    /* mision-vision*/
    .mision-vision__text {
        padding: 1rem;
        margin: 2rem 10rem;
    }
    .mision-vision h3 {
        color: var(--orange-color);
        margin-bottom: 0;
        font-size: 3.8rem;
        text-align: center;
        padding-top: 1rem;
    }
    .mision-vision p {
        margin-top: 1rem;
        font-size: 2.6rem;
        text-align: justify;
    }
    /* -------- servicios -----------*/
    .servicios {
        margin: auto 10rem;
    }
    .servicios h3 {
        color: var(--orange-color);
        font-size: 4.2rem;
        text-align: center;
        margin-bottom: 0;
    }
    .servicios__list ul {
        list-style-type: disc;
    }
    .servicios__list li {
        padding: 2rem;
        font-size: 2.9rem;
    }
    .trabajos-img {
        margin: 2rem 16rem 2rem 10rem;
        overflow: hidden;
    }
    .trabajos-img img {
        width: 100%;
        max-height: 35rem;
        object-fit: cover;
        transition: all 0.3s ease;
    }
    .servicios__promo p {
        text-align: center;
        font-weight: 700;
        margin: 4rem 10rem;
        font-size: 3rem;
    }
    .distribuidores p {
        text-align: center;
        color: rgb(226, 226, 226);
        padding: 4rem 12rem;
        font-size: 3.2rem;
    }
    .toca {
        font-size: 2.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider li img {
        width: 50%;
        height: 30rem;
        margin-left: 35rem;
    }
}